<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- Agrega tus estilos CSS aquí -->
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <!-- Encabezado -->
    <header>
        <h1>Auth</h1>
    </header>
    <!-- Contenido Principal -->
    <main>
        <%- body %> <!-- Contenido dinámico que cambiará -->
    </main>

    <!-- Scripts JS -->
    <script src="/app.js"></script>
</body>
</html>
